{% extends "base.html" %}
{% block title %} update img {{ i.email }}{% endblock %}

{% block content %}

<h1 class="lead my-3">update img <small>user: {{ i.email }}</small></h1>

<form class="card p-3" method="POST" enctype="multipart/form-data">

    <div class="m-2">
        <input type="file" name="file" class="form-control" />
    </div>

    <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
    </div>
</form>

{% endblock %}
